[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=QtQuickPlayground
Exec=/opt/usr/bin/qtquickplayground
Icon=qtquickplayground
StartupWMClass=
X-Window-Icon=qtquickplayground
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
Terminal=false

